:root {
	--app-red: #ff6347;
	--app-orange: #ff6900;
	--app-green: #00d084;
	--app-blue: #227bff;
	--app-violet: #ee82ee;
}

body {
	background-color: var(--bs-gray-100);
	color: var(--bs-gray-dark);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

footer {
	border-bottom: var(--app-blue) solid 3px;
}

header {
	background-color: var(--app-blue);
	color: var(--bs-gray-100);
}

hr {
    border: none;
    border-top: 3px double var(--app-blue); 
    color: var(--app-blue);
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr:after {
    background: var(--bs-gray-100);
    content: '\01D11E';
    padding: 0 4px;
    position: relative;
    top: -13px;
}

#files-analyzed {
	background-color: var(--bs-gray-200);
	margin-bottom: 1rem;
	padding-top: 1rem;
}

#files-analyzed ul {
	list-style-type: '\1D160';
}

#files-analyzed li {
	padding-left: 3px;
}

.blue-point:before {
	color: var(--app-blue);
	padding: 0 4px;
	content: '\25A0';
}

.green-point:before {
	color: var(--app-green);
	padding: 0 4px;
	content: '\25A0';
}

.legend p {
	margin-bottom: 0.25rem;
}

.legend {
	list-style-type: none;
	margin-block-start: 0em;
	margin-block-end: 0em;
	padding-inline-start: 0px;
}

.main {
	flex-grow: 1;
}

.red-point:before {
	color: var(--app-red);
	padding: 0 4px;
	content: '\25A0';
}
