<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head th:fragment="head">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
	crossorigin="anonymous">
<link href="/css/main.css" rel="stylesheet">
<title>MIDI Analyzer</title>
</head>
<body>
	<header th:fragment="header" class="text-center py-1">
		<h1><a href="/" class="text-reset text-decoration-none">MIDI <b>Analyzer</b></a></h1>
	</header>
	<footer th:fragment="footer" class="py-1">&copy; 2023 Daniel Parvin</footer>
</body>
</html>