<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head">
<title>MIDI Counterpoint Analyzer</title>
</head>
<body>
	<header th:replace="fragments :: header"></header>
	<div class="main container pt-3">
		<div class="upload-form">
			<h2>Upload a .midi, .mid, or .zip file for analysis!</h2>
			<form method="POST" enctype="multipart/form-data" action="/upload"
				id="upload-form">
				<div class="input-group">
					<input type="file" name="file" accept=".mid, .midi, .zip"
						class="form-control" id="inputGroupFile01"
						oninput="document.getElementById('upload-form').submit()">
				</div>
			</form>
		</div>
		<div class="row">
			<div class="col pt-3">
				<h3>
					<em>Or</em> analyze <a href="/demo">Row, Row, Row Your Boat</a> as
					a four-part canon!
				</h3>
			</div>
		</div>
		<hr>
		<div class="info pt-2">
			<figure class="float-end mx-1">
				<img src="/images/midi-visualization.png" width="200" height="139"
					alt="A visual representation of a MIDI file">
				<figcaption class="figure-caption text-center">Visualization
					of a MIDI file</figcaption>
			</figure>
			<h4>What is this tool?</h4>
			<p>This tool performs a counterpoint analysis on the musical
				"voices" within a MIDI file. A MIDI file contains information about
				the musical notes played at specific times. It specifies when each
				note occurs throughout a piece of music. Although MIDI is not an
				audio file format, you can play MIDI files on a computer and on many
				electronic keyboards.</p>
			<h4>What is counterpoint?</h4>
			<p>In music theory, "counterpoint" refers to the analysis of how
				musical "voices," or distinct parts or lines, interact with and
				relate to each other. For example, how does a trumpet part relate to
				a trombone part, or how does a violin part relate to a cello part?
				When the violin notes go up, do the cello notes go down? These are
				the kinds of questions that counterpoint analysis seeks to answer.</p>
			<h4>What are the types of counterpoint?</h4>
			<ol id="types-of-counterpoint">
				<li>Similar</li>
				<li>Parallel</li>
				<li>Oblique</li>
				<li>Contrary</li>
			</ol>
			<p>
				When two voices play at the same time, they can move in various
				directions relative to each other. The four types of contrapuntal
				motion are similar, parallel, oblique, and contrary. If they both
				move in the same direction, they are said to have <u>"similar"</u>
				motion. If they both move in the same direction with the same
				distance (or "interval"), they have <u>"parallel"</u> motion. If one
				voice remains the same while the other moves up or down, the motion
				between the two voices is <u>"oblique."</u> And if the two voices
				move in opposite directions, they exhibit <u>"contrary"</u> motion
				in that place.
			</p>
			<!-- Add the following section after completing the project and recording a video about it. -->
			<!-- <div
				class="embed-responsive embed-responsive-1by1 d-flex justify-content-center">
				<iframe class="embed-responsive-item"
					src="https://www.youtube.com/embed/fRKBpKuFfTE" width="640"
					height="360" title="YouTube video player"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen></iframe>
			</div>
			 -->
		</div>
	</div>
	<footer th:replace="fragments :: footer"></footer>
</body>
</html>
