<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head"></head>
<body>
	<header th:replace="fragments :: header"></header>
	<div class="container main">
		<div th:if="${message}" id="message" class="alert alert-success"
			role="alert" th:text="${message}"></div>
		<div class="upload-form">
			<div th:if="${#lists.isEmpty(session.uploadedFiles)}">
				<h2>Upload a .midi, .mid, or .zip file for analysis!</h2>
			</div>
			<div th:unless="${#lists.isEmpty(session.uploadedFiles)}">
				<h2>
					Upload another .midi, .mid, or .zip file, <em>or</em> <a
						href="/analysis">analyze</a> the uploaded files!
				</h2>
			</div>
			<form method="POST" enctype="multipart/form-data" action="/upload">
				<input type="file" name="file" accept=".mid, .midi, .zip" /> <input
					type="submit" value="Upload" />
			</form>
		</div>
		<div th:if="${not #lists.isEmpty(session.uploadedFiles)}"
			class="uploaded-files">
			<h3>Files uploaded:</h3>
			<ul>
				<li th:each="file : ${session.uploadedFiles}"
					th:text="${file.getFileName}"></li>
			</ul>
		</div>
		<div class="info">
			<p>This tool performs a contrapuntal analysis on the musical
				voices within a MIDI file. A MIDI file contains information about
				the musical notes played at specific times. If you've ever played
				Guitar Hero, you can think of a MIDI file Pellentesque congue
				condimentum suscipit. Donec dignissim pharetra rhoncus. Aliquam id
				consequat lectus. Mauris vel laoreet sapien. Integer ac consequat
				nibh. Nulla ac ornare mauris. Pellentesque congue condimentum
				suscipit. Donec dignissim pharetra rhoncus. Aliquam id consequat
				lectus. Mauris vel laoreet sapien. Integer ac consequat nibh. Nulla
				ac ornare mauris. Pellentesque congue condimentum suscipit. Donec
				dignissim pharetra rhoncus. Aliquam id consequat lectus. Mauris vel
				laoreet sapien. Integer ac consequat nibh. Nulla ac ornare mauris.
				Pellentesque congue condimentum suscipit. Donec dignissim pharetra
				rhoncus. Aliquam id consequat lectus. Mauris vel laoreet sapien.
				Integer ac consequat nibh. Nulla ac ornare mauris.</p>

			<div class="embed-responsive embed-responsive-1by1 d-flex justify-content-center">
				<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fRKBpKuFfTE"
					width="640" height="360"
					title="YouTube video player"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen></iframe>
			</div>

		</div>
	</div>
	<footer th:replace="fragments :: footer"></footer>
</body>
</html>
