<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
	<header th:replace="fragments :: header"></header>
	<div th:if="${message}" id="successful-upload" th:text="${message}"></div>
	<div th:text="#{files.uploaded}"></div>
	<ul th:if="${!#lists.isEmpty(session.uploadedFiles)}">
		<li th:each="file : ${session.uploadedFiles}" th:text="${file.name}"></li>
	</ul>
	
	<th:block th:if="${!#lists.isEmpty(session.uploadedFiles)}">
		<div id="analyze"><button th:replace="fragments :: analyze-btn"></button></div>
		<div id="or"></div>
		<div id="upload-another" th:text="#{upload-another-file}"></div>
	</th:block>
	<th:block th:if="${#lists.isEmpty(session.uploadedFiles)}">
		<div id="upload" th:text="#{upload-a-file}"></div>
	</th:block>
	<footer th:replace="fragments :: footer"></footer>
</body>
</html>
